In [1]:
import pandas as pd

df = pd.read_csv('air_q_b_horizonte_amazonas.csv')
# https://medium.com/@filip.sekan/pivot-vs-pivot-table-methods-in-pandas-definitions-examples-differences-dcc9e14e667f

In [2]:
df.head()

,Estado,Município,Estação,Ano de Data,Mês de Data,Dia de Data,Data,IQAR,NumeroIQAR,Poluente,Tipo de cálculo,Tipo de monitoramento
0,MG,Belo Horizonte,Avenida Amazonas,2018,janeiro,27,27/01/2018,DQA (Recomendação OMS),0,CO,Máxima média de 8h,Automática
1,MG,Belo Horizonte,Avenida Amazonas,2018,janeiro,28,28/01/2018,DQA (Recomendação OMS),0,CO,Máxima média de 8h,Automática
2,MG,Belo Horizonte,Avenida Amazonas,2017,dezembro,24,24/12/2017,DQA (Recomendação OMS),0,CO,Máxima média de 8h,Automática
3,MG,Belo Horizonte,Avenida Amazonas,2017,dezembro,27,27/12/2017,DQA (Recomendação OMS),0,CO,Máxima média de 8h,Automática
4,MG,Belo Horizonte,Avenida Amazonas,2017,dezembro,28,28/12/2017,DQA (Recomendação OMS),0,CO,Máxima média de 8h,Automática

In [3]:
poluentes = ['CO', 'MP10', 'O3', 'MP2.5', 'SO2']

df_filtrado = df[df['Poluente'].isin(poluentes)]

df_pivot = df_filtrado.pivot(index='Data', columns='Poluente', values='NumeroIQAR')

df_pivot = df_pivot.reindex(columns=poluentes)

df_pivot.reset_index(inplace=True)

In [4]:
df_pivot.head()

Poluente        Data   CO  MP10    O3  MP2.5   SO2
0         01/01/2015  0.0   NaN  68.0    NaN  82.0
1         01/01/2016  1.0  26.0   NaN   32.0   6.0
2         01/01/2018  0.0   NaN  39.0    NaN  10.0
3         01/01/2019  1.0  10.0   NaN    NaN  16.0
4         01/01/2020  0.0   NaN   NaN    6.0   NaN

In [5]:
df_pivot.to_csv('b_horizonte_pivot_amazonas.csv', index=False, encoding='utf-8-sig')