# Create dataset Days + weather (Pampulha Belo Horizonte 2015 - 2019)

In [1]:
import pandas as pd
import holidays

In [2]:
## DF days

In [3]:

date_range = pd.date_range(start='2015-01-01', end='2019-12-31', freq='D')

br_holidays = holidays.Brazil(years=range(2015, 2020))

df = pd.DataFrame({
    'Date': date_range.strftime('%Y%m%d'),
    'DayOfWeek': date_range.strftime('%a'),
    'DayOfWeekNum': date_range.weekday,  # Monday=0, Sunday=6
    'WeekOfYear': date_range.isocalendar().week,
    'Month': date_range.month,
    'IsWeekend': date_range.weekday.map(lambda x: 1 if x >= 5 else 0),
    'IsHoliday': date_range.map(lambda x: 1 if x in br_holidays else 0)
})

df['IsDayAfterHoliday'] = df['IsHoliday'].shift(1).fillna(0).astype(int)


df.tail()
# df.to_csv('complete_date_dataset.csv', index=False)

,Date,DayOfWeek,DayOfWeekNum,WeekOfYear,Month,IsWeekend,IsHoliday,IsDayAfterHoliday
2019-12-27,20191227,Fri,4,52,12,0,0,0
2019-12-28,20191228,Sat,5,52,12,1,0,0
2019-12-29,20191229,Sun,6,52,12,1,0,0
2019-12-30,20191230,Mon,0,1,12,0,0,0
2019-12-31,20191231,Tue,1,1,12,0,0,0

## Add Season

In [4]:
# # Outono	Autumn / Fall	March 21st to June 20th
# # Inverno	Winter	June 21st to September 20th
# # Primavera	Spring	September 21st to December 20th
# # VerÃ£o	Summer	December 21st to March 20th

# def get_brazilian_season(date):
#     year = date.year
#     summer_start = pd.Timestamp(f"{year}-12-21")
#     autumn_start = pd.Timestamp(f"{year}-03-20")
#     winter_start = pd.Timestamp(f"{year}-06-21")
#     spring_start = pd.Timestamp(f"{year}-09-23")
    
#     if date >= summer_start or date < autumn_start:
#         return 'Summer'
#     elif date >= autumn_start and date < winter_start:
#         return 'Autumn'
#     elif date >= winter_start and date < spring_start:
#         return 'Winter'
#     else:
#         return 'Spring'
    
# def get_brazilian_season_num(date):
#     year = date.year
#     summer_start = pd.Timestamp(f"{year}-12-21")
#     autumn_start = pd.Timestamp(f"{year}-03-20")
#     winter_start = pd.Timestamp(f"{year}-06-21")
#     spring_start = pd.Timestamp(f"{year}-09-23")
    
#     if date >= summer_start or date < autumn_start:
#         return 4 #'Summer'
#     elif date >= autumn_start and date < winter_start:
#         return 1 #'Autumn'
#     elif date >= winter_start and date < spring_start:
#         return 2 #'Winter'
#     else:
#         return 3 #'Spring'


# df = pd.DataFrame({
#     'Date': date_range.strftime('%Y%m%d'),
#     'DayOfWeek': date_range.strftime('%a'),
#     'DayOfWeekNum': date_range.weekday,
#     'IsWeekend': date_range.weekday.map(lambda x: 1 if x >= 5 else 0),
#     'Month': date_range.month,
#     'Season': date_range.map(get_brazilian_season),
#     'SeasonNum': date_range.map(get_brazilian_season_num)
# })

In [5]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')

## Add Weather

In [6]:
df_temp = pd.read_csv('daily_weather_pampulha_2015_19.csv')
df_temp['Date'] = pd.to_datetime(df_temp['Date'])

df_temp.head()

        Date  temp_max  temp_min  temp_mean  humidity_max  humidity_min
0 2015-01-01      33.9      20.6  25.912500          89.0          32.0
1 2015-01-02      32.9      21.0  26.050000          87.0          38.0
2 2015-01-03      33.5      20.2  26.683333          83.0          38.0
3 2015-01-04      30.6      22.2  25.641667          81.0          43.0
4 2015-01-05      30.8      20.8  25.520833          79.0          36.0

In [7]:
df_final = pd.merge(df, df_temp, on='Date', how='left')

df_final.tail(15)

,Date,DayOfWeek,DayOfWeekNum,WeekOfYear,Month,IsWeekend,IsHoliday,IsDayAfterHoliday,temp_max,temp_min,temp_mean,humidity_max,humidity_min
1811,2019-12-17,Tue,1,51,12,0,0,0,31.2,20.3,25.195833,78.0,28.0
1812,2019-12-18,Wed,2,51,12,0,0,0,32.4,20.8,26.216667,70.0,28.0
1813,2019-12-19,Thu,3,51,12,0,0,0,30.5,19.9,23.933333,89.0,43.0
1814,2019-12-20,Fri,4,51,12,0,0,0,30.7,19.7,24.533333,88.0,42.0
1815,2019-12-21,Sat,5,51,12,1,0,0,29.2,20.0,23.916667,91.0,46.0
1816,2019-12-22,Sun,6,51,12,1,0,0,32.9,20.3,26.037500,84.0,34.0
1817,2019-12-23,Mon,0,52,12,0,0,0,25.9,19.0,22.291667,91.0,59.0
1818,2019-12-24,Tue,1,52,12,0,0,0,24.6,17.6,21.175000,91.0,65.0
1819,2019-12-25,Wed,2,52,12,0,1,0,30.3,17.4,23.525000,91.0,36.0
1820,2019-12-26,Thu,3,52,12,0,0,1,30.4,20.8,25.000000,79.0,37.0
1821,2019-12-27,Fri,4,52,12,0,0,0,29.1,19.9,24.016667,83.0,40.0
1822,2019-12-28,Sat,5,52,12,1,0,0,28.6,19.7,23.245833,88.0,44.0
1823,2019-12-29,Sun,6,52,12,1,0,0,29.4,18.8,22.333333,90.0,40.0
1824,2019-12-30,Mon,0,1,12,0,0,0,29.3,18.1,22.958333,84.0,32.0
1825,2019-12-31,Tue,1,1,12,0,0,0,29.9,18.8,24.045833,79.0,37.0

In [8]:
df_final.head(15)

,Date,DayOfWeek,DayOfWeekNum,WeekOfYear,Month,IsWeekend,IsHoliday,IsDayAfterHoliday,temp_max,temp_min,temp_mean,humidity_max,humidity_min
0,2015-01-01,Thu,3,1,1,0,1,0,33.9,20.6,25.912500,89.0,32.0
1,2015-01-02,Fri,4,1,1,0,0,1,32.9,21.0,26.050000,87.0,38.0
2,2015-01-03,Sat,5,1,1,1,0,0,33.5,20.2,26.683333,83.0,38.0
3,2015-01-04,Sun,6,1,1,1,0,0,30.6,22.2,25.641667,81.0,43.0
4,2015-01-05,Mon,0,2,1,0,0,0,30.8,20.8,25.520833,79.0,36.0
5,2015-01-06,Tue,1,2,1,0,0,0,29.5,20.5,25.016667,79.0,41.0
6,2015-01-07,Wed,2,2,1,0,0,0,28.0,19.9,23.925000,78.0,44.0
7,2015-01-08,Thu,3,2,1,0,0,0,30.4,19.7,24.229167,74.0,30.0
8,2015-01-09,Fri,4,2,1,0,0,0,30.5,19.6,24.579167,68.0,28.0
9,2015-01-10,Sat,5,2,1,1,0,0,32.6,20.6,25.887500,73.0,33.0
10,2015-01-11,Sun,6,2,1,1,0,0,32.6,20.1,26.475000,66.0,22.0
11,2015-01-12,Mon,0,3,1,0,0,0,33.3,19.7,26.795833,64.0,23.0
12,2015-01-13,Tue,1,3,1,0,0,0,33.9,21.4,27.358333,67.0,27.0
13,2015-01-14,Wed,2,3,1,0,0,0,32.5,21.8,26.604167,61.0,32.0
14,2015-01-15,Thu,3,3,1,0,0,0,30.1,20.1,25.062500,67.0,33.0

In [9]:
df_final.isna().sum()

Date                 0
DayOfWeek            0
DayOfWeekNum         0
WeekOfYear           0
Month                0
IsWeekend            0
IsHoliday            0
IsDayAfterHoliday    0
temp_max             0
temp_min             0
temp_mean            0
humidity_max         0
humidity_min         0
dtype: int64

In [10]:
df_final.to_csv('days_weather_pampulha.csv', index=False)